<!DOCTYPE html>
<html>

<head>
    <title>Cinemark login</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">

    <!-- Large cinemark header-->
    <div class="jumbotron text-center">
        <h1>Cinemark Login Page</h1>

    </div>

</head>

<body>
    <p style="text-align: center;">Please login to view the movie list</p>
    
    <div class="container-fluid bg-grey">
        <div class="row">
            <div class="col-sm-4">
                <form action="movie-list.html" target="_blank" method="get">
                    <label for="fname">First name:</label><br>
                    <input type="text" id="fname" name="fname" value=""><br>
                    <label for="lname">Last name:</label><br>
                    <input type="text" id="lname" name="lname" value=""><br><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
        
    </div>
</body>


</html>